.select {
	margin-top: 30px;
}

.font2 {
	font-family: 'Indie Flower', cursive;
}

a.font2 {
	font-size: 2.2rem;
}

h1.font2 {
	font-size: 6rem;
}

ul.font2 {
	font-size: 1.6rem;
}

/* .help {
	width: 90 vw;
	height: 90 vh;
	margin: auto;
} */

.fixed-action-btn {
	/* margin-bottom: 0px; */
}

.copyright {
	margin-top: 4px;
	height: 28px;
}

.bottom-sheet {
	height: 50vh;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
