
.select {
	margin-top: 30px;
}

footer a {
	font-family: 'Indie Flower', cursive;
	font-size: 2.2rem;
	margin-top: auto;
	margin-bottom: auto;
}

/* .help {
	width: 90 vw;
	height: 90 vh;
	margin: auto;
} */

.fixed-action-btn {
	/* margin-bottom: 0px; */
}

.copyright {
	margin-top: 4px;
	height: 28px;
}

.bottom-sheet {
	height: 50vh;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }