.input-field {
	margin-top: 5px;
}

.font2 {
	font-family: 'Patrick Hand', cursive;
}

.footer a {
	font-size: 2.2rem;
}

.font2 h1 {
	font-size: 6rem;
}

h5 {
	font-size: 1.4rem;
}

span {
	font-size: 1.2rem;
}

span.bigger {
	font-size: 20rem;
}

span.big {
	font-size: 15rem;
}

.font2 ul {
	font-size: 1.6rem;
}

/* .help {
	width: 90 vw;
	height: 90 vh;
	margin: auto;
} */

.fixed-action-btn {
	/* margin-bottom: 0px; */
}

.copyright {
	margin-top: 4px;
	height: 28px;
}

.bottom-sheet {
	height: 50vh;
}

body {
	display: flex;
	min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	min-height: var(--vh, 100vh);
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	/* Fade
	-webkit-transition: opacity .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out;
	-ms-transition: opacity .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	*/
}

#myProgress {
	margin: 2vh 5vh 2vh 5vh;
	width: 80%;
	background-color: #eee;
	border-radius: 10px;
}

#myBar {
	width: 1%;
	height: 15px;
	border-radius: 10px;
}

.game {
	margin-top: 5vh;
}

.poster {
	margin-top: 5vh;
	border: 6px solid var(--maincolor);
}

.normal {
	margin-top: 5vh;
	border: 4px solid var(--maincolor);
}

.thumbnail {
	margin-top: 5vh;
	border: 2px solid var(--maincolor);
}

#timer {
	height: 6vh;
}

.mtop1 {
	margin-top: 5vh;
}

.mtop2 {
	margin-top: 2vh;
}
