
.select {
	margin-top: 30px;
}

footer span {
	font-family: 'Indie Flower', cursive;
	font-size: 2.2rem;
}

.help {
	width: 90 vw;
	height: 90 vh;
	margin: auto;
}

.fixed-action-btn {
	margin-bottom: -6px;
}

.copyright {
	margin-top: 25px;
}

.bottom-sheet {
	height: 50vh;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }